body {
    padding: 4rem 3rem;
}

h1 {
    font-size: 3rem;}

p {
    font-size: 1rem;
}

hr {
    flex: 1;
    margin: 1rem 0;
    color: white;
}

li {
    padding-left: 1rem;
}

ul {
    padding-left: 2rem;
    padding-top: 1rem;
}

.view {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: baseline;
}

.border {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1.5rem;
}

.contacts {
    display: flex;
    gap: 0.75rem;
}

.section {
    font-size: 1rem;
    flex-shrink: 0;
}

.content {
    width: 100%;
}