* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    background-color: #FFF0E3;
    margin: 40px;
    position:relative;
}

h1 { 
    color: #FFF0E3;
    font-size: 48px;
    font-weight: 700;
    margin-top: 6px;
}

h3 {
    color: #FFF0E3;
    font-size: 26px;
    font-weight: 700;
}

p {
    color: #FFF0E3;
    white-space: nowrap;
}

hr {
    color: #FFF0E3;
}

button {
    background-color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
    margin: 0;
}

#foot {
    display: grid;
    grid-area: foot;
    margin: 0px;
    gap: 5px;
}

#img {
    border: 2px solid;
    border-color: #091d56;
    width: 200px;
}

#contacts {
    margin-bottom: 5px;
}

#list {
    display: grid;
    margin-top: 20px;

    gap: 30px;
}

#tabbar {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

#name {
    grid-area: name;
}

#logo {
    width: 30px;
    padding: 5px;
}

#menu {
    width: 40px;
    margin-left: auto;
}

button:hover {
    background-color: rgba(97, 97, 97, 0.5); 
    background-blend-mode: multiply; 
}

#view {
    padding: 30px;
    background-color: #282828;
}

#line {
    height: 3.5px;
    background-size: auto 100%;
    background-image: url("/line.png");
    background-repeat: repeat-x;
}

#main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header"
    "name sideBar"
    "content sideBar"
    "foot foot";
}

#content {
    grid-area: content;
    position: relative;

    min-height: 1000px;
}

#header {
    grid-area: header;
}

#sideBarOpened {
    min-width: 0;
    white-space: nowrap;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: auto 40px;
    justify-items: end;
    justify-self: baseline;
}

.sidebar-container {
    grid-area: sideBar;
    display: grid;
    grid-template-columns: 0fr;
    overflow: hidden;
    transition: grid-template-columns 0.4s cubic-bezier(0.3, 1, 0.5, 1);
}

.sidebar-container.is-open {
  grid-template-columns: 1fr;
}

.multiline {
    margin: 0;
    padding: 0;
}

.hgrid {
    display: grid;
    grid-template-columns: auto;
    align-content: left;
}

