* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #020202;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.875), rgba(0, 0, 0, 0.875)), url('./assets/textures/grain.webp');
  background-size: auto, 256px 256px;
  color: #CDC7C7;
}

button {
  background: none;
  border: none;
}
